<ion-content>
  <div class="splash-container">
    <div class="ion-text-center">
      <ion-text class="titulo_principal">ERROR 404</ion-text>
      <p></p>

      <div class="ion-text-center">
        <ion-text class="titulo_secundario">Página no encontrada...</ion-text>
        <p></p>
      </div>

    </div>
    <img src="assets/images/404.png" alt="404" class="e404">
    <p></p>
    <ion-button expand="full" class="ion-text-center" routerLink="/home">Volver al inicio</ion-button>
  </div>
</ion-content>
